

body {
	background-color: #ECF0F1;
	color: #34495e;
}

html {
	background: url("../img/portfolioheroimage1.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}




