/*General*/
/*Body*/
body {
	background-color: #EEEEEE;
	margin: 0;
	position: relative;
}

.about{
	padding: 0px 50px 0px 50px
}

/*Navigation*/

.nav{
	float: right;
}
.navbar {
	background-color: rgba(255, 255, 255, 0.7);
	border: none;
}

.nav li a{
	padding: 10px 10px 10px 10px;
	color: white;
	border: 1px solid #E1E0E1;
	border-radius: 15px 50px 30px;
	background-color: white;
	margin-left: 10px;	
	transition: background-color 600ms;
	-webkit-transition: background-color 600ms;
}

.projectName {
    text-transform: uppercase;
    font-size: 16px;
    padding: 13px;
    color: black;
}

.projectName a:hover {
	text-decoration: none;
	color: white;

}

/*Index*/
.item>.carousel-caption>h3 {
	color: #EEEEEE;
}

.more a {
	border: 1px solid white;
  padding: 10px 10px;
  border-radius: 15px 50px 30px;
  background-color: #E1E0E1;
  text-decoration: none;
  color: white;
}

.more a:hover {
	background-color: #E1E0E1;
	text-decoration: none;
}

.firstline {
	color: white;
}

.anchor {
	padding-top: 48px;
}
/*About*/

.container {
	width: 80%;
	margin: 0 auto;
}

.header {
	text-align: center;
	padding: 20px 0px 20px 0px;
	
	color: black;
}

.intro {
	padding: 10px 50px
}



.image {
	display: inline-block;
	float: left;
}

.skills {
	text-align: center;
	clear: both;
	padding: 10px 50px;
	position: static;
	list-style-type: none;
	font-size: 3em;
	font-weight: 100;
	-webkit-margin-before: 0;
}


.main_text {
  text-align: center;
	clear: both;
	padding: 10px 50px;
	position: static;
	font-size: 2em;
	font-weight: 100;
	-webkit-margin-before: 0;
}

#wheel {
  background-image: url("../img/wheel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*Typography*/

h1,
h2,
h3 {
	font-family: Futura, Helvetica, Arial, sans-serif;
	color: #BDC3C7; 
  font-size: 50px;
  text-align: center;
}



.main_text p {
	
}

.intro p {
	font-size: 3em;
	font-weight: 100;
	-webkit-margin-before: 0;
}


/*Work*/


/*Contact*/
#contact {
  background-image: url("../img/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.back a{
	border: 1px solid white;
  padding: 10px 10px;
  border-radius: 15px 50px 30px;
  background-color: #E1E0E1;
  text-decoration: none;
  color: white;
  margin-bottom: 100px;

}
/*FAQ*/

.margin-top{
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.details{
  color: white;
}

.best{
  color: white;
}

.big {	
  font-size: 40px;
  color: white;
}

.facebook {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: white;
}

#contact {
	margin-bottom: 48px;
}


